* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3);
  background-color: #f4f3ff;
  padding: 20px;
  max-width: 100%;
  width: 500px;
  border-radius: 8px;
  margin: 5% auto;
}

#value {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  border: 1px solid #000000c5;
  border-radius: 15px;
  padding: 10px;
}

.navigate button {
  margin: 10px;
}

.content {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

button {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 25px;
  font-size: 16px;
  background: inherit;
  padding: 10px 20px;
}

button:hover {
  background-color: white;
  transform: scale(1.2);
}

.q1,
.q2,
.q3,
.q4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.a1,
.a2,
.a3,
.a4 {
  display: none;
}

.close {
  display: none;
}
